.feature-button {
    background-color: #4CAF50; 
    color: white; 
    border: black; 
    border-color: black;
    border-radius: 3px; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: clamp(10px, 1vw, 14px); 
    box-sizing: border-box;
}

.parking-popup {
    position: fixed;
    bottom: 1px;
    left: 8px;
    background-color: white;
    border-radius: 5px; 
    z-index: 2000;
}