.feature-button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 3px; 
    padding: 10px 15px; 
    cursor: pointer; 
    font-size: 12px; 
    width: 150px;
}

.parking-popup {
    position: fixed;
    bottom: 53px;
    left: 8px;
    background-color: white;
    border-radius: 5px; 
}